<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ExportFigma_Plantfy"
        tools:targetApi="31">
        <activity
            android:name=".Page_Loyalitas"
            android:exported="false" />
        <activity
            android:name=".Page_Wishlist"
            android:exported="false" />
        <activity
            android:name=".Page_History"
            android:exported="false" />
        <activity
            android:name=".Page_Setting"
            android:exported="false" />
        <activity
            android:name=".Page_Chat"
            android:exported="false" />
        <activity
            android:name=".Page_Profile"
            android:exported="false" />
        <activity
            android:name=".Page_Payment"
            android:exported="false" />
        <activity
            android:name=".Page_Product"
            android:exported="false" />
        <activity
            android:name=".Page_Basket"
            android:exported="false" />
        <activity
            android:name=".Page_ViewProduct"
            android:exported="false" />
        <activity
            android:name=".Page_Search"
            android:exported="false" />
        <activity
            android:name=".Page_Home"
            android:exported="false" />
        <activity
            android:name=".Page_Register"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>